:root {
    --color-main-layer: #D9E0FF;
    --color-main-accent: #455BED;
    --color-main-accent-light: #6A7CF1;
    --color-main-accent-transparent: rgba(69, 91, 237, 80%);
    --color-main-background: #F6F8FA;
    --color-main-foreground: hsl(120, 100%, 100%);
    --color-platinum-gray: #E5E5E5;
    --color-grim-gray: #D0D7DE;
    --color-steel-gray: #6D6D6D;
    --color-main-font: #343434;
}