p, a, span, i, label, button, input {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: var(--color-main-font);
}

h1, h2, h3 {
    font-family: 'Montserrat';
    color: var(--color-main-font);
}

h1 {
    font-weight: 900;
    font-size: 16px;
}

h2 {
    font-weight: 900;
    font-size: 14px;
}

h3 {
    font-weight: 500;
    font-size: 14px;
}

.container {
    width: 1280px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.content {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.page-body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--color-main-foreground);
}

.button {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    box-sizing: border-box;
    width: fit-content;

    cursor: pointer;
    user-select: none;
    outline: none;

    font-family: 'Montserrat';
    text-align: center;
    border: 1px solid transparent;
    background-color: transparent;
}